li {
    font-size: 1.5em;
    list-style: none;
    text-decoration: none;
    color: green

}

li a {
    font-size: 3em;
    list-style: none;
    text-decoration: none;
    color: green
}

body {
    background: white url("images/background.jpg") no-repeat;
}